{% extends 'base.html.twig' %}
{% block body %}
    <h4> {{ label_info(organization.orgName~': '~method~' opportunity') }}</h4>
    {% set submit = 1 %}

    <form name="opportunity" method="post" action="" class="form-inline">
        {{ form_widget(form._token) }}
        {{ bootstrap_set_style('form-inline') }}
        <div class="container">
            <div class="row">
                Active: {{ form_widget(form.active) }}| 
                <small>Added: {{ form.vars.value.addDate|date('m/d/Y') }}</small>| 
                <small>Last update: {{ form.vars.value.lastupdate|date('m/d/Y') }}</small>
            </div>
            <div class="row" style="vertical-align: top;">
                {{ form_row(form.oppName) }}
                {{ form_row(form.description) }}
            </div>

            <div class="row">
                {{ form_row(form.expireDate) }}
                {{ form_row(form.minage) }}
                {{ form_row(form.groupOk) }}
            </div>
            <fieldset>
                {% if form.skills is defined %}
                    {% if form.skills is empty %}
                        {# do not submit form if skill criteria empty #}
                        {% set submit = 0 %}
                    {% endif %}
                    {{ form_row(form.skills) }}
                {% endif %}
                {{ bootstrap_set_style('') }}
            </fieldset>
            {% if submit == 1 %}
                {{ form_widget(form.save) }}
            {% endif %}
    </form>
</div>
{% endblock %}
