<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome! {% if title is defined %}{{ title }}{% endif %}{% endblock %}</title>
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
        {% block stylesheets %}
            {% stylesheets 
                '@TruckeeMatchBundle/Resources/public/css/*'
                'css/bootstrap.css'
                filter='cssrewrite' output='css/compiled/app.css' 
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block nav %}
            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="row">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#"><span class="label label-success">Your org here</span></a>
                        </div>
                        <div class="collapse navbar-collapse">
                                {{ knp_menu_render('TruckeeMatchBundle:Builder:mainMenu') }}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock nav %}
        <div class="row">
            <div class="col-md-6">
                <h4>{% include 'BraincraftedBootstrapBundle::flash.html.twig' %}</h4>
            </div>    
        </div>       
        {% block body %}
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        {% endblock %}
        {% block javascripts %}
            {% javascripts 
                    '@TruckeeMatchBundle/Resources/public/js/jquery.js'
                    '@TruckeeMatchBundle/Resources/public/js/jquery-ui.min.js'
                    'js/bootstrap.js'
                    '@TruckeeMatchBundle/Resources/public/js/volunteer.js'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
