<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome! {% if title is defined %}{{ title }}{% endif %}{% endblock %}</title>
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
        {% block stylesheets %}
            <link href="{{ asset('bundles/truckeematch/css/bootstrap.css') }}" rel="stylesheet" />
            <link href="{{ asset('bundles/truckeematch/css/match.css') }}" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            {% block nav %}
                {{ render(controller('TruckeeMatchBundle:Default:navigation')) }}
            {% endblock nav %}
            <div class="row">
                <div class="col-md-6">
                    <h4>{% include 'BraincraftedBootstrapBundle::flash.html.twig' %}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    {% block body %}
                        {% block fos_user_content %}
                        {% endblock fos_user_content %}
                    {% endblock %}
                </div>
                <div class="col-md-2">
                    {% block events %}
                        {{ render(controller('TruckeeMatchBundle:Event:sidebarEvents')) }}
                    {% endblock events %}
                </div>
            </div>
            {% block javascripts %}
                <script src="{{ asset('bundles/truckeematch/js/jquery.js') }}"></script>
                <script src="{{ asset('bundles/truckeematch/js/jquery-ui.min.js') }}"></script>
                <script src="{{ asset('bundles/truckeematch/js/volunteer.js') }}"></script>
                <script src="{{ asset('bundles/truckeematch/js/bootstrap.js') }}"></script>
            {% endblock %}
        </div>
    </body>
</html>
