<p><strong>Organization</strong></p>
<div id="orgNotice"></div>
<div id="orgForm">
    {{ form_row(form.organization.orgName) }}
    {{ form_row(form.organization.address) }}
    {{ form_row(form.organization.city) }}
    {{ form_row(form.organization.state) }}
    {{ form_row(form.organization.zip) }}
    {{ form_row(form.organization.areacode) }}
    {{ form_row(form.organization.phone) }}
    {{ form_row(form.organization.email) }}
    <div class="input-group">
        <div class="input-group-addon">http://</div>
        {{ form_row(form.organization.website) }}
    </div>
    {{ form_row(form.organization.background) }}
</div>