<p><strong>Organization</strong></p>
<div id="orgNotice"></div>
<div id="orgForm">
    {{ form_row(form.orgName) }}
    {{ form_row(form.address) }}
    {{ form_row(form.city) }}
    {{ form_row(form.state) }}
    {{ form_row(form.zip) }}
    {{ form_row(form.areacode) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.email) }}
    <div class="input-group">
        <div class="input-group-addon">http://</div>
        {{ form_row(form.website) }}
    </div>
    {{ form_row(form.background) }}
</div>