{% for event in events %}
    <div class="row" style="color: #b94a48;">{{ event.eventdate|date('F j, Y') }}</div>
    <div class="row">What: {{ event.event }}</div>
    <div class="row">Where: {{ event.location }}</div>
    <div class="row">When: {{ event.starttime }}</div>
    {{ render(controller('TruckeeMatchBundle:Event:eventEditor', {'id': event.id})) }}
{% endfor %}
