{% block subject %}Registration confirmation{% endblock %}

{% block body_text %}
Hello <b>{{ user.firstName }} {{ user.lastName }}</b>!

Thank you for registering.

Please confirm by visiting <a href="{{ confirmationUrl }}">this link</a>.

Thanks.

The Team
{% endblock %}

{% block body_html %}
Hello <b>{{ user.firstName }} {{ user.lastName }}</b>!

Please confirm by visiting <a href="{{ confirmationUrl }}">this link</a>.

Thank you.

The Team
{% endblock %}
