{% set id = focus.vars.value.id %}{% set name = focus.vars.value.focus %}
    <div class="col-md-3">
        {{ name }}
        <input type="hidden" name="focuses[focuses][{{ loop.index0 }}][focus]" value="{{ focus.vars.value.focus }}">
    </div>
    <div class="col-md-1 text-center">
        <input type="checkbox" name="focuses[focuses][{{ loop.index0 }}][enabled]" 
               {%if focus.vars.value.enabled %}checked="checked"{%endif%}>
    </div>
    <div class="col-md-2 text-right">
        {% if id in fociUsage['volunteer']|keys %}
            {{ fociUsage['volunteer'][id] }}{% else %}0
        {% endif %}
    </div>
    <div class="col-md-2 text-right">
        {% if id in fociUsage['opportunity']|keys %}
            {{ fociUsage['opportunity'][id] }}{% else %}0
        {% endif %}
    </div>
